/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F9E8B7;
    text-align: center;
}

.about{
    margin-top: 20px;
    color: #518132;
    font-family:Ubuntu;
}

.team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.team-member {
    background-color: #518132;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    padding: 20px;
    text-align: center;
}

.team-member img {
    border-radius: 10%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 15px;
}

.team-member h2 {
    margin: 10px 0;
    font-size: 1.5em;
    color:#d2db1a;
}

.team-member p {
    font-size: 1em;
    color:#F9E8B7;
} */



/* General Styling */
.aboutus {
    height: 100vh;
    width: 95.5vw;
    padding: 50px 20px;
    background-color: #F9E8B7;
    font-family: Ubuntu;
    color: #34495e;
}

.about h1 {
    text-align: center;
    font-size: 48px;
    margin-bottom: 50px;
    color: #217621;
}

.team {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap: 30px;
}

.team-member {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 250px;
    transition: transform 0.3s ease;
}

.team-member:hover {
    transform: translateY(-10px);
}

.team-member img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}

.team-member h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #267226;
}

.team-member p {
    font-size: 18px;
    margin-bottom: 5px;
    color: #0e1313;
}

.team-member .email {
    font-size: 14px;
    color: #2980b9;
    word-break: break-word;
    margin-top: 10px;
    text-decoration: underline;
}


@media (max-width: 768px) {
    .team-member {
        width: 100%;
        max-width: 400px;
    }
}

@media (max-width: 480px) {
    .about h1 {
        font-size: 36px;
    }
}
