body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F9E8B7;
    text-align: center;
}

.about{
    margin-top: 20px;
    color: #518132;
    font-family:Ubuntu;
}

.team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.team-member {
    background-color: #518132;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    padding: 20px;
    text-align: center;
}

.team-member img {
    border-radius: 10%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 15px;
}

.team-member h2 {
    margin: 10px 0;
    font-size: 1.5em;
    color:#d2db1a;
}

.team-member p {
    font-size: 1em;
    color:#F9E8B7;
}