@import url('https://fonts.googleapis.com/css2?family=Matemasie&family=Nerko+One&display=swap');
.card {
    position: relative;
    width: 40%;
    /* max-width: 300px; */
    margin: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }

  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15); /* More intense shadow on hover */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  
  .card-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
    color: white;
    border-radius: 10px;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
    font-family: "Nerko One", sans-serif
  }
  
  .card-overlay:hover {
    opacity: 1;
  }
  
  .card-overlay h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .card-overlay p {
    font-size: 16px;
  }
  